body
{
  background-image: url('./assets/bkg.png');
  background-size: 100% 100%;
  margin-left: 10%;
  margin-right: 10%;
  --main-background: #eceff4;
}

.main__app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* both sides add as much margin as possible on the left and right, centering the content */
  margin-left: auto;
  margin-right: auto;
  
}

.main__left
{
  display: flex;
  flex-direction: column;
  flex: 0.7;
  border-left: 2px solid white;
}
.main__right
{
  flex: 0.3;
  background-color: rgba(208, 135, 112, 0.65);
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.main__left__container
{
  flex: 0.7;
  background-color: rgba(236, 239, 244, 0.7);
  border-bottom: 2px solid white;
}
.main__left__juicebox
{
  flex: 0.3;
  background-color: rgba(163, 190, 140, 0.95);
  max-height: 302px;
  overflow:hidden;
}
