.juicer__container
{
    display: flex;
    flex-direction: column;
    background-color: #97b67c;
    color: #eceff4;
    border: 4px solid #b6cca4;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.juicer__image
{
    font-size: 35px !important;
}