.feed__container
{
    margin: 20px;
    margin-top: 0;
}

.feed__header
{
    text-align: center;
    font-family: 'LeavesAndGround';
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 2px;
    text-shadow: -1px 1px 0 #000;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #eceff4;
    border: 4px solid #dca493;
    border-radius: 30px;
}
.feed__header > h2 {
    margin: 0;
}

a
{
    color: #dca493;
    
}

a > h2 > span
{
    color: #81A1C1;
}