.fireplace__icon
{
    font-size: 80px;
}

.logo__text
{
    margin: 0;
    margin-top: 5px;
    font-family: 'LeavesAndGround';
    font-size: 70px;
}

.logo__container
{
    display: flex;
    flex-direction: row;
    max-height: 100px;
}

.search__container
{
    padding-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.search__container > input
{
    text-align: center;
    width: 300px;
    height: 20px;
}

.streetView__container
{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}
.streetView__container__content
{
    width: 600px;
    height: 400px;
    background-color: black;
}